.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    //color: @primary-color;
    white-space: nowrap;
    :local {
      animation: fadeLeftIn 500ms linear;
      animation-fill-mode: both;
    }
  }
}

