.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40px;
    margin-right: 8px;
  }

  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    color:  #1890ff;
    white-space: nowrap;
    :local {
      animation: fadeLeftIn 500ms linear;
      animation-fill-mode: both;
    }
  }
}
.switchtheme {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 48px;
  background-color: #fff;
  border-top: solid 1px #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  z-index: 9;
  transition: all 0.3s;

  span {
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
  }

  :global {
    .anticon {
      min-width: 14px;
      margin-right: 4px;
      font-size: 14px;
    }
  }
}

